<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.username %></h1>
    <p>Some games have dropped in price</p>
    <table>
      <% @events.each do |x| %>
        <tr>
            <%= link_to "#{x["name"]} on #{x["local_start_time"].strftime("%m/%d/%y")}", x["url"], :target => "_blank" %>
            <span> <%= "was $#{x["last_price"]} and is now $#{x["price_curr"]}" %></span>
          <%end %>
        </tr>
      <% end %>
    </table>
  </body>
</html>

