<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.email %></h1>
    <p>Some games have dropped in price</p>
    <table>
      <% @events.each do |x| %>
        <tr> 
          <%= "#{x["name"]} was $#{x["last_price"]} and is now $#{x["price_curr"]}" %>
        </tr>
      <% end %>
    </table>
  </body>
</html>

