<body>
  <h2>
    <%= "Search results for: #{@q}" %>
  </h2>
  <h3>Performers</h3>
  <%= react_component("PerformerList", {performers: @performers_results}) %>
  <h3>Events</h3>
  <%= react_component("EventList", {events: @events_results}) %>
</body>