<body>
  <h4 class="display-5 page-header">
    <%= "Search results for: '#{@q}'" %>
  </h4>
  <h5 class="section-header">Performers</h5>
  <%= react_component("PerformerList", {performers: @performers_results}) %>
  <h5 class="section-header">Events</h5>
  <%= react_component("EventList", {events: @events_results}) %>
</body>