<body>
  <h1>Ticket Alert</h1>
  <% @performers.each do |performer| %>
    <div><%=performer.name %></div>
  <% end %>
  <%= button_to 'Update Database', home_set_updates_path, method: :post %>
</body>