<h2>Venues</h2>
<div>
  <p>
    Seat-geek-ticket-alert no longer has venues as a resource. After populating our database with events from the four major sports leagues, we exceeded the limit for a free database plan.
  </p>
</div>