<%= react_component("TeamHeader", {team: @performer.name, slug: @performer.slug} ) %>
<% @events.each do |event|%>
  <% event_tz = event.venue.timezone %>
  <% time = event.event_time_utc%>
  <% tz_full_datetime = time.in_time_zone(event_tz)%>
  <% tz_date = tz_full_datetime.strftime('%-m/%d/%y ') %>
  <% tz_time = tz_full_datetime.strftime('%-I:%m %p %Z') %>
  
  <strong><%= "#{tz_date} @ #{tz_time}" %></strong>
  <div>
    <div><%= event.name %></div>
    <%= link_to "Starting at $#{event.price_curr}" , performer_event_path(@performer, event) %>
  </div>
  <br>
<% end %>

<%#= react_component('EventCard', {
  awayTeam: away_team,
  homeTeam: event.home_team,
  eventName: event.name,
  eventTime: "#{tz_date} @ #{tz_time}",
}) %>