/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.list-team-logo{
  margin-right: 1rem
}

.image-fill-space{
  max-height: 100%;
  max-width: 100%;  
}

.team-logo {
  max-height: 8rem;
  max-width: 8rem;
}

.team-logo-md {
  max-height: 5rem;
  max-width: 5rem;
}

.team-logo-sm {
  max-height: 3rem;
  max-width: 3rem;
}

.team-header{
  display: flex;
  align-items: center;
}

.performer-list .card {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: none;
  text-align: center;
  background: none;
}

.performer-btn:hover {
  background: aliceblue;
}

.performer-btn .inner-card {
  text-decoration: none;
}