/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */


* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
*:focus {
  outline: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 460px;
}
.dd-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  background-color: #212529; 
}
.dd-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: default;
  position: relative;
  opacity: 0.7
}
.dd-header span {
  margin-right: 20px;
}
.dd-header:hover {
  opacity: 1
}
.dd-header-title {
  margin: 2px 20px;
}
.dd-list {
  text-align: center;
  z-index: 10;
  position: absolute;
  width: 100%;
  background: whitesmoke;
  padding: 0.5rem;
  border-radius: .2rem;
  border: 1px solid lightgray;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  width: max-content;
/*  -webkit-box-shadow: 0 2px 5px -1px #e8e8e8;
          box-shadow: 0 2px 5px -1px #e8e8e8;
  padding: 15px 0;
  overflow-y: scroll;

*/
}
.dd-list-item {
  width: 100%;
  font-size: 1.5rem;
  padding: 8px 10px;
  line-height: 1.6rem;
  cursor: default;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dd-list-item.selected {
  color: #fff;
  background-color: #ffcc01;
}
.dd-list-item:hover {
  color: #fff;
  background-color: #ffcc01;
}
.dd-wrapper-single {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  width: 265px;
}
.dd-wrapper-single .dd-header {
  border: 1px solid #ccc;
}
.dd-wrapper-single .dd-header .dd-header-name {
  font-weight: 400;
}
.dd-wrapper-single .dd-list {
  border: 1px solid #ccc;
  border-top: none;
}

/*END CUSTOM DROPDOWN*/

.list-team-logo{
  margin-right: 1rem
}

.image-fill-space{
  max-height: 100%;
  max-width: 100%;  
}

.team-logo {
  max-height: 8rem;
  max-width: 8rem;
}

.team-logo-md {
  max-height: 5rem;
  max-width: 5rem;
  min-height: 5rem;
  min-width: 5rem;
}

.team-logo-sm {
  max-height: 3rem;
  max-width: 3rem;
  min-height: 3rem;
  min-width: 3rem;
}

.team-header {
  display: flex;
  align-items: center;
  text-align: right;
}

.performer-list .card {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: none;
  text-align: center;
  background: none;
}

.performer-btn:hover {
  background: lavender;
}

.performer-btn .inner-card {
  text-decoration: none;
}
.conference-title, .division-title{
  margin: auto;
  font-size: 1rem;
  color: #6610f2;
}

.application-title {
  font-size: 2rem 
}

.seat-geek-logo {
  max-height: 5rem
}

.home-events-btn, .follow-btn {
  margin-left: 1rem;
}

.list-group {
  margin-top:1rem
}